{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="div container">
        <div class="div row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

        </div>
    </div>

    <span class="fa fa-plus-circle"></span>

    </a>
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date Creation</th>
            <th>Date Modification</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    {{ user.creationDate| date("m/d/Y") }}
                </td>
                <td>
                    {{ user.updateDate | date("m/d/Y") }}
                </td>
                <td>
                    <!--a href="{#{ path('#', {
                        id: user.id
                    }) }#}"-->
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
